/*
 * New Workout
 * --------------------------------
 */

.finish-button {
	background-color: $accent-color;
	color: $white;
}

.new_workout_cell {
	background-color: $black;
    border-bottom: 1px solid $gray-superlight;

    .edit-label { text-align: right; color: $white; }
    
}

.exercise-label { color: $white; }

.rep-label {
    color: $white;
    height: 50;
}

.rep-circle-accomplished {
    background-color: $accent-color;

    .rep-label { color: $black; }
}

.weight-label { color: $gray; }
