/*
 * New Workout
 * --------------------------------
 */

.finish-button {
	background-color: $accent-color;
	color: $white;
}

.new_workout_cell {
	background-color: $black;
    border-bottom: 1px solid $gray-superlight;

    .exercise-label { color: $white; }
    
    collection-view-cell { background: none !important; }

    .rep-label {
    	color: $white;
    }

    .rep-circle { background-color: none; }

    .rep-circle-accomplished {
    	background-color: $accent-color;

    	.rep-label { color: $black; }
    }

    .weight-label { color: $gray; }
}

